.thead1 th {
    background-color: rgba(222, 15, 15, 0.932);
    color: white;
}
.DateTime{
    max-width: 120px; /* Adjust the width as per your requirement */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}